= form_for [@recipe, @quantity] do |f|
  = f.label :ingredient_id, 'ingredient'
  = f.select :ingredient_id, options_from_collection_for_select(Ingredient.all, 'id', 'name')
  %br/
  = f.label :description
  = f.text_field :description
  %br/
  = f.label :quantity
  = f.number_field :quantity
  %br/
  = f.label :measurement
  = f.text_field :measurement
  %br/
  = f.label :price
  = f.number_field :price
  %br/
  = f.submit