%h1= @planet.name
- if @planet.image.present?
  = image_tag @planet.image, class: 'large-image'
%table
  %tr
    %th Orbit
    %td #{@planet.orbit} AU
  %tr
    %th Diameter
    %td #{@planet.diameter} Earth Diameters
  %tr
    %th Mass
    %td #{@planet.mass} Earth Masses
  %tr
    %th Moons
    %td= @planet.moons
  %tr
    %th Type
    %td= @planet.planet_type
  %tr
    %th Rings?
    %td= @planet.rings
%nav.nav-bottom
  = link_to 'Destroy this planet', @planet, :method =>:delete, :confirm => "Whoa there! Are you sure you want to destory #{@planet.name}?"
  |
  = link_to 'Edit this planet', edit_planet_path(@planet) 
