  <%= form_for(@actor) do |f| %>
  <fieldset>
    <legend>Actor Details</legend>
    <div class="field">
      <%= f.label :first_name, 'First Name' %>
      <%= f.text_field :first_name %>
    </div>
    <div class="field">
      <%= f.label :last_name, 'Last Name' %>
      <%= f.text_field :last_name %>
    </div>
    <div class="field">
      <%= f.label :dob, 'DOB' %>
      <%= f.text_field :dob %>
    </div>
    <div class="field">
      <%= f.label :image, "Image URL" %>
      <%= f.url_field :image%>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  </fieldset>
<% end %>
