<%= form_for(@moon) do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :mother_planet %><br />
    <%= f.text_area :mother_planet%>
  </div>


<% end %>
