<!DOCTYPE html>
<html>
<head>
  <title>MyMovieApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>
  <%= link_to 'Movies', movies_path %>
  |
  <%= link_to 'New Movie', new_movie_path %>
  |
    <%= link_to 'Actors', actors_path %>
  |
  <%= link_to 'New Actors', new_actor_path %>
</nav>

<%= yield %>

</body>
</html>
