<h3>Add a new actor</h3>
  <% if @actor["id"]%>
    <form method="post" action="/actors/<%= @actor["id"]%>/update">
  <% else %>
    <form method="post" action"/new_actor">
  <% end %>
  
  First Name: <input type='text' name='first_name' value="<%= @actor["first_name"] %>" />
  Last Name: <input type='text' name='last_name' value="<%= @actor["last_name"] %>"/>
  Date of Birth: <input type='date' name='dob' value="<%= @actor["dob"] %>"/>
  Image URL: <input type='text' name='image_url' value="<%= @actor["image_url"] %>"/>
  <input type='submit' />
</form>