<h3><%= @movie["title"]%></h3>

<img src="<%= @movie["poster"] %>">

<p>Year: <%= @movie["year"]%></p>
<p>Rated: <%= @movie["rated"]%></p>
<p>Actors: <%= @movie["actors"]%></p>
<p>Genre: <%= @movie["genre"]%></p>


<ul>
  <h3>Actors</h3>
  <% @movie_actors.each do |actor| %>
    <li>
      <h4>
        <a href="/actors/<%= actor["id"] %>">
          <%= "#{actor["first_name"]} #{actor["last_name"]}"%>
        </a>
      </h4>
    </li>
  <% end %>
</ul>

<form method="POST" action="/movies/<%= @movie["id"]%>/delete" >
  <input type="submit" value="delete" />
</form>
<a href="/movies/<%= @movie["id"]%>/update"> Update <%= @movie["title"]%> </a>