<h3><%= @movie["title"] %></h3>

<img src="<%= @movie["poster"] %>" />

<p>Year: <%= @movie["year"] %></p>
<p>Rated: <%= @movie["rated"] %></p>
<p>Actors: <%= @movie["actors"] %></p>
<p>Genre: <%= @movie["genre"] %></p>